
.watchlater-container {
    text-align: center;
    margin-top: 20px;
}

.left {
    width: 30%;
}

.right {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.watchlater-content {
    display: flex;
}